/* header.component.css */
.header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed; /* Set the header to be fixed */
  top: 0; /* Position it at the top */
  width: 100%; /* Make it take the full width */
  z-index: 100; /* Ensure it's on top of other elements */
}

.brand h1 {
  font-size: 24px;
  margin: 0;
}

.sub-title {
  font-size: 16px;
  margin: 0;
  opacity: 0.7;
}

.nav-links a {
  color: #00bcd4;
  text-decoration: none;
  margin-right: 20px;
}
