<div class="section dark">
  <h2>Projects</h2>
  <div class="project">
    <h3>Facial Expression Detection</h3>
    <p>Implemented Face Expression detection application using faceapi.js library which uses TensorFlow.</p>
  </div>
  <div class="project">
    <h3>Full Stack Ecommerce Web Application</h3>
    <p>Developed full stack e-commerce application using Ruby on Rails, Angular, PostgreSQL with TypeScript and Ruby.</p>
  </div>
  <div class="project">
    <h3>Smart Shopping Trolley</h3>
    <p>Developed a smart shopping trolley featuring automated billing system using Arduino and RFID tags.</p>
  </div>
</div>
